/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url('/img/pp2.jpg');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-position: center;
}

/* Estilos del encabezado */

header {
  background-color: #000000cc;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Estilos del contenedor principal */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos del mapa */

#map {
  width: calc(100% - 20px);
  height: 400px;
  border: 2px solid #8ac8d3;
  border-radius: 10px;
}

/* Estilos de los botones */

#buttons {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.route-button, .clear-button {
  background-color: #eeec7d;
  border: none;
  color: #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.clear-button {
  background-color: #f44336;
}

/* Estilos de la información del pueblo */

/* Estilos de la información del pueblo */
#info {
  width: calc(50% - 20px);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border: 1px solid #080808; /* Borde de 2px sólido color gris claro */
}

/* Estilos de la foto del pueblo */

#photo {
  width: calc(50% - 20px);
  border-radius: 10px;
  margin-top: 20px; 
  border: 1px solid #000000; /* Borde de 2px sólido color gris claro */
}


/* Estilos de los botones dentro de la información del pueblo */

#info-buttons {
  margin-top: 20px;
}

.info-button {
  background-color: #7bd1ca;
  border: none;
  color: #000;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

